
{% extends "base.html"%}

{%block content %}
<div id = "map"></div>
<div id="posts-list-container">
    <h2>みんなの声</h2>
    <div class="filter-container">
        <label for="category-filter">カテゴリで絞り込む:</label>
        <select id="category-filter">
            <option value="all">すべて</option>
            <option value="restaurant">飲食店</option>
            <option value="cafe">カフェ</option>
            <option value="sightseeing">観光スポット</option>
            <option value="park">公園</option>
            <option value="danger">危ない場所</option>
        </select>
    </div>
    <ul id="posts-list">
    </ul>
</div>





{% endblock %}